*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}
body{
    font-family: sans-serif;
    height: 100vh;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*header*/
header{
   
    height: 60px;
}
.navbar{
    height: 100%;
    width: 100%;
    padding: 10px 20px;

}
.navbar ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;

    
  
    
    
}
.navbar ul li {
    margin: left 15px; 
    padding: 10px 20px;
}
.navbar ul li a{
    color: black;
}
.navbar ul li a:hover{
    text-decoration: underline;
}
.icons{
    
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icons:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.icons span{
    font-size: 18px;
    color: yellow;
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
   


} 
.usericon{

    background-color: color #EF6C00;
}

/*content*/
section{
    
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
img{
    width: 300px;
    margin-bottom: 20px;
}
.searchbar{
    border: 1px solid grey;
    border-radius: 45px;
    width: 600px;
    height: 45px;
    display: flex;
    align-items: center;

}
.searchbar i{
    font-size: 10px;
    color: grey;
    margin-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}
.searchbar input{
    flex-grow: 1;
    height: 30px;
    margin-right: 15px;
    font-size: 16px;
    border: none;

}
.buttons{
     margin-top: 20px;
}
.button1,
.button2{
    height: 40px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    color: black;
    background-color: #f2f3f4;

}
.button1:hover,.button2:hover{
    border: 1px solid lightgray;
}
.button1{
    width: 120px;

}
.button2{
    width: 140px;

}
p{
    margin-top: 20px;

}
p a{
    color: rgb(0, 0, 255);
}
p a:hover{
    text-decoration: underline;
}
/*footer*/
footer{
    background-color: #f2f2f2;
    
}
 